<div class="modal-header">
  <h2>New Task</h2>
  <%= simple_form_for task, class:"clearfix", remote: true do |f| %>
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :note %>
    <%= f.input :completed, as: :string, input_html: {class: 'datepicker'} %>
    <div class="modal-footer">
      <%= f.submit 'Save', class: "btn btn-primary" %>
    </div>

  </div>

  <% end %>

  
</div>